.cause {
  max-width: 320px;
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .cause {
    max-width: 768px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .cause {
    max-width: 1200px;
  }
}

.cause__img {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .cause__img {
    flex-direction: row-reverse;

    &--second {
      flex-direction: row;
    }
  }
}

.cause__desc {
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0 auto;
  width: 320px;
  padding-top: 12px;
  padding-bottom: 13px;

  &--triangle {
    padding-top: 47px;
    background-image: url("../img/bg-triangle.svg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media (min-width: @tablet-width) {
  .cause__desc {
    max-width: 265px;

    &--triangle {
      padding-top: 47px;
      background-image: none;
    }
  }
}

.cause__title {
  margin: 0 auto;
  padding-top: 33px;
}

.cause__num {
  margin: 2px auto;
}

.cause__text {
  max-width: 247px;
  margin: auto;
  padding-bottom: 32px;

  &--blue {
    max-width: 275px;
  }
}

.cause__item {
  margin: 0 auto;

  &--border {
    margin: 0 auto;
    border-bottom: 1px solid #d7d7d7;
  }
}

@media (min-width: @tablet-width) {
  .cause__item {
    max-width: 256px;
  }

  .cause__item-wrapper {
    max-width: 160px;
    margin: 0 auto;
  }

  .cause__title {
    max-width: 125px;
  }
}
