.cause {
  max-width: 320px;
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .cause {
    max-width: 768px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .cause {
    max-width: 1200px;
  }
}

.cause__img {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
}

.cause__img picture {
  height: 260px;
}

@media (min-width: @tablet-width) {
  .cause__img {
    flex-direction: row-reverse;

    &--second {
      flex-direction: row;
    }
  }

  .cause__img picture {
    height: 256px;
  }

  .cause__img img {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .cause__img img {
    width: 800px;
  }
}

.cause__desc {
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0 auto;
  width: 320px;
  padding-top: 12px;
  padding-bottom: 13px;

  &--triangle {
    padding-top: 47px;
    background-image: url("../img/bg-triangle.svg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media (min-width: @tablet-width) {
  .cause__desc {
    width: 256px;

    &--triangle {
      padding-top: 0;
      background-image: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .cause__desc {
    width: 400px;
  }
}

.cause__desc-wrapper {
  margin: 0 auto;
  max-width: 275px;
}

@media (min-width: @tablet-width) {
  .cause__desc-wrapper {
    max-width: 170px;
  }
}

@media (min-width: @desktop-width) {
  .cause__desc-wrapper {
    max-width: 265px;
  }
}

.cause__title {
  margin: 0 auto;
  padding-top: 32px;
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .cause__title {
    font-size: 21px;
  }
}

.cause__num {
  margin: 5px auto;
}

.cause__text {
  max-width: 247px;
  margin: auto;
  padding-bottom: 32px;
}

.cause__item {
  margin: 0 auto;

  &--border {
    margin: 0 auto;
    border-bottom: 1px solid #d7d7d7;
  }
}

@media (min-width: @tablet-width) {
  .cause__item {
    max-width: 256px;

    &--border {
      border-bottom: none;
    }

    &-wrapper {
      max-width: 160px;
      margin: 0 auto;
    }
  }
}
