.cause {
  max-width: 320px;
  margin: 0;
  background-color: #efefef;

  &__img {
    display: flex;
    flex-flow: column-reverse;
    margin: 0 auto;
  }

  &__desc {
    color: #ffffff;
    background-color: #81b3d2;
    margin: 0 auto;
    width: 320px;
    padding-top: 12px;
    padding-bottom: 13px;
  }

  &__desc--triangle {
    padding-top: 47px;
    background-image: url("../img/bg-triangle.svg");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: top;
  }

  &__title {
    margin: 0;
    padding-top: 33px;
  }

  &__num {
    margin: 2px auto;
  }

  &__text {
    max-width: 247px;
    margin: auto;
    padding-bottom: 32px;
  }

  &__text--blue {
    max-width: 275px;
  }

  &__item--border {
    width: 87%;
    margin: 0 auto;
    border-bottom: 1px solid #d7d7d7;
  }
}
