.features {
  margi: 0;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__item {
    max-width: 210px;
    margin: 0 auto;
    text-align: left;
  }

  &__item--house {
    padding-top: 26px;
  }

  &__item--gifts {
    padding-top: 22px;
  }

  &__item--food {
    padding-top: 27px;
    padding-bottom: 42px;
  }
}
