.form-intro {
  padding-top: 40px;
}

.form-intro__title {
  margin: 0 auto;
  font-size: 18px;
}

.form-intro__text {
  max-width: 276px;
  margin: 0 auto;
  padding: 28px 0 17px 0;
  color: #333333;
  line-height: 24px;
}

.form-intro__form-wrapper {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f4f4f4;
}
