.main-nav {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 320px;
  height: 55px;
  list-style: none;
  background-color: #81b3d2;
  box-shadow: inset 0px 1px 0 0 rgb(255, 255, 255, 0.2);
}

.site-list__item a {
  display: block;
  padding-top: 15px;
  color: #ffffff;
}
