.page-footer {
  margin: 0 auto;
  width: 80%;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0 auto;

    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__hashtag {
  padding-bottom: 41px;
}

.page-footer__hashtag-text {
  font-size: 21px;
}

.page-footer__ha {
  margin: 0 auto;
  width: 129px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .page-footer__ha {
    margin: 0;
  }
}

.page-footer__ha-text {
  margin: 0;
  padding-top: 11px;
}
