.photo-intro {
  padding-top: 44px;
}

.photo-intro__title {
  margin: 0 auto;
}

.photo-intro__text {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 33px;
  color: #333333;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .photo-intro__text {
    max-width: 428px;
  }
}
