.user-photos__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-top: 1px solid #efefef;
}

.user-photos__item {
  width: 320px;
  border-bottom: 1px solid #efefef;
}

.user-photos__item-container {
  width: 280px;
  margin: 21px auto 0 auto;
}

.user-photos__image {
  display: block;
}

.user-photos__title {
  margin: 21px auto 0 auto;
  text-align: left;
  font-weight: 700;
  line-height: 26px;
}

.user-photos__autor {
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.user-photos__like {
  margin-bottom: 21px;
  padding-top: 11px;
  display: flex;
  flex-direction: row;
}

.user-photos__like-num {
  margin: 0;
  padding-left: 12px;
}
