.user-form {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .user-form {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    width: 1200px;
  }
}

.user-form legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .user-form legend {
    font-size: 21px;
  }
}

.user-form__name {
    margin-bottom: 4px;
}

@media (min-width: @tablet-width) {
  .user-form__name-wrapper {
    order: 2;
    margin-left: 49px;
    max-height: 298px;
    border-left: 1px solid #ededed;
  }
}

@media (min-width: @tablet-width) {
  .user-form__name-title {
    text-align: left;
    padding-left: 58px;
  }
}

.user-form__name-list {
  margin: 0 auto;
  padding: 21px 0 0 0;
}

@media (min-width: @tablet-width) {
  .user-form__name-list {
    padding: 58px 0 0 39px;
  }
}

@media (min-width: @tablet-width) {
  .user-form__info {
    order: 3;
    margin: 22px auto;
    max-width: 648px;
    border-top: 1px solid #ededed;
  }
}

.user-form__info-title {
  padding: 18px 0 9px 0;
  border-top: 1px solid #ededed;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .user-form__info-title {
    padding-top: 12px;
    width: 403px;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .user-form__info-list {
    padding: 0;
  }
}

.user-form__impressions {
  margin-bottom: -16px;
}

@media (min-width: @tablet-width) {
  .user-form__impressions {
    order: 1;
    margin-left: 40px;
    max-width: 293px;
  }
}

.user-form__impressions-title {
  padding: 17px 0 25px 0;
  border-top: 1px solid #ededed;
  width: 100%
}

@media (min-width: @tablet-width) {
  .user-form__impressions-title {
    padding: 0 0 61px 20px;
    border: none;
  }
}

.user-form__impressions-list {
  padding: 0 0 0 77px;
}

.user-form__showplace {
  margin-bottom: -29px;
}

@media (min-width: @tablet-width) {
  .user-form__showplace {
    order: 4;
  }
}

.user-form__showplace-title {
  padding: 18px 0 19px 0;
  border-top: 1px solid #ededed;
}

.user-form__showplace-list {
  padding: 0 0 0 78px;
}

.user-form__comment {
  margin-bottom: 46px;
}

@media (min-width: @tablet-width) {
  .user-form__comment {
    order: 5;
  }
}

.user-form__comment-title {
  padding: 18px 0 18px 0;
  border-top: 1px solid #ededed;
}

.user-form__comment textarea {
  padding: 15px 21px;
  width: 237px;
  height: 128px;
  resize: none;
  line-height: 26px;
}

.user-form__button {
  margin: 0 auto 37px;
}

@media (min-width: @tablet-width) {
  .user-form__button {
    order: 6;
  }
}
