.user-form {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .user-form {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    width: 1200px;
  }
}

.user-form legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.user-form__name-list {
  margin: 0 auto;
  padding: 21px 0 0 0;
}

.user-form__info-title {
  border-top: 1px solid #f4f4f4;
  padding: 24px 0 29px 0;
}

.user-form__info-list {
  padding: 0;
}

.user-form__impressions-title {
  padding: 24px 0 34px 0;
  border-top: 1px solid #f4f4f4;
}

.user-form__impressions-list {
  padding: 0 0 0 77px;
}

.user-form__showplace-title {
  padding: 24px 0 26px 0;
  border-top: 1px solid #f4f4f4;
}

.user-form__showplace-list {
  padding: 0 0 0 78px;
}

.user-form__comment {
  margin-bottom: 51px;
}

.user-form__comment-title {
  padding: 24px 0 21px 0;
  border-top: 1px solid #f4f4f4;
}

.user-form__comment textarea {
  padding: 22px 21px 22px 21px;
  width: 237px;
  height: 116px;
  resize: none;
}
