.video-intro {
  margin: 39px auto 30px auto;
  max-width: 240px;
}

.video-intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.video-intro__text {
  line-height: 24px;
  padding-bottom: 40px;
}
