.welcome {
  max-width: 1200px;
  min-width: 320px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--inner {
    background-size: 750px;
    background-position: center -215px;
  }
}

.welcome__text {
  margin: 0;
  height: 389px;
  background-image: url("../img/text-sedona-index.svg");
  background-position: center;
  background-size: 281px;
  background-repeat: no-repeat;

  &--inner {
    background-image: url("../img/text-sedona.svg");
    background-size: 229px;
    height: 158px;
  }
}
